body {
  padding: 20px 32px;
}

.main{
  color: deeppink;
    text-decoration: none;

}

.main:hover{
    text-decoration: underline;

}


h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}

p {
  margin-bottom: 24px;
}

/* We'll learn about this later on! */
aside p:last-of-type {
  margin-bottom: 0;
}

.linkaside{
  color: black;
}

.linkaside:hover{
      text-decoration: none;

}

.pinkbox {
  background: peachpuff;
  border: 2px solid;
  padding: 16px;
}
