body {
  padding: 20px 32px;
}

a {
  color: deeppink;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: aqua;
}

p {
  margin-bottom: 24px;
}

/* We'll learn about this later on! */
aside p:last-of-type {
  margin-bottom: 0;
}

.pinkbox {
  background: peachpuff;
  border: 2px solid;
  padding: 16px;
}
